<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} - {{site_name}}</title>
    <link rel="stylesheet" href="/dist/styles/main.css" />
  </head>
  <body>
    <main class="container p-4 mx-auto max-w-screen-sm">
      <article
        class="p-4 text-lg rounded-md"
        style="color:{{color}};background-color:{{background_color}};"
      >
        <p>{{content}}</p>
        <br />
        <p class="text-base">--{{author_name}}</p>
      </article>
    </main>
  </body>
</html>
